    html,
    body {
        margin: 0;
    }
    
    .navbar {
        position: fixed;
        top: 0;
        z-index: 999;
        height: 10%;
        width: 100%;
    }
    
    .btn {
        background: #f7913e;
        color: #1b1a1a;
        border-radius: 5%;
        font-size: 1rem;
        padding: 8% 6.5%;
    }
    
    .btn:hover {
        -webkit-box-shadow: 6px 11px 18px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 11px 18px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 6px 11px 18px 0px rgba(0, 0, 0, 0.75);
        color: #1b1a1a;
    }
    
    .carousel-control-prev {
        margin-top: 18%;
        margin-left: 4%;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background: #444444;
    }
    
    .carousel-control-next {
        margin-top: 18%;
        margin-right: 4%;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background: #444444;
    }
    
    #carousel-caption {
        color: #141212;
        z-index: 999;
        background: #f7913e;
        width: 180px;
        border-radius: 5%;
        padding-right: 4%;
    }
    
    #language-cards {
        margin: 5%;
    }
    
    #language-cards-container {
        background: #f7913e;
        margin: 3% 0;
        padding: 1% 0;
    }
    
    #carouselExampleIndicators {
        margin-top: 5.2%;
        height: 20%;
    }
    
    #card:hover {
        -webkit-box-shadow: 6px 11px 18px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 11px 18px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 6px 11px 18px 0px rgba(0, 0, 0, 0.75);
    }
    
    @media only screen and (min-width: 768px) {
        .navbar-expand-md .navbar-nav .nav-link {
            padding-right: 3rem;
            padding-left: 3rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
    
    @media only screen and (min-width: 768px) {
        .navbar-expand-md .navbar-nav .nav-link:hover {
            background: #f7913e;
            color: #1b1a1a;
        }
    }